@model CAS.Business.Models.AppointmentListsViewModel

    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div>
                @Html.LabelFor(model => model.BindModel.ConsultantId)
                <p>@Html.DropDownListFor(model => model.BindModel.ConsultantId, Model.Consultants as SelectList)</p>
            </div>
            <div>
                @Html.LabelFor(model => model.BindModel.StoreId)
                <p>@Html.DropDownListFor(model => model.BindModel.StoreId, Model.Stores as SelectList)</p>
            </div>
            <p><input class="btn btn-primary" type="submit" value="Create" /></p>
        }
    </div>