@using CAS.Business.Models
@model IEnumerable<StoreModel>

@{
    ViewBag.Title = "Stores";
}

@section head {
    <style>
        .ui-jqgrid .ui-pg-input {
            height: 20px;
        }
    </style>
}

<h2>Stores</h2>

<table id="jqg"></table>
<div id="jpager"></div>

<p class="d-inline-block">
    @Html.ActionLink("Create store", "Create", "Store", new { }, new { @class = "viewDialog", data_dialog_title = "Create store" })
</p>
<p class="d-inline-block">
    @Html.ActionLink("Create consultant", "Create", "Consultant", new { }, new { @class = "viewDialog", data_dialog_title = "Create consultant" })
</p>
<p class="d-inline-block">
    @Html.ActionLink("Appoint a consultant", "Appoint", "Consultant", new { }, new { @class = "viewDialog", data_dialog_title = "Appoint a consultant" })
</p>

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/Scripts/i18n/grid.locale-ru.js")' type="text/javascript"></script>
    <script>
        $(document).ready(function () {

            $.ajaxSetup({ cache: false });

            $(".viewDialog").on("click", function (e) {
                e.preventDefault();

                $("<div></div>")
                    .addClass("dialog")
                    .appendTo("body")
                    .dialog({
                        title: $(this).attr("data-dialog-title"),
                        close: function () { $(this).remove() },
                        modal: true
                    })
                    .load(this.href);
            });

            $('#jqg').jqGrid({
                url: '@Url.Action("GetData", "Store")',
                datatype: "json",
                colNames: ['Id', 'Name', 'Address', 'Consultant', 'AssignmentDate'],
                colModel: [
                    { name: 'Id', index: 'Id', width: 50, sortable: true },
                    { name: 'Name', index: 'Name', width: 300, sortable: true },
                    { name: 'Address', index: 'Address', width: 300, sortable: false },
                    { name: 'Consultant', index: 'Consultant', width: 500, sortable: false },
                    { name: 'AssignmentDate', index: 'AssignmentDate', width: 200, sortable: false },
                ],
                rowNum: 5,
                rowList: [10, 20, 30],
                pager: '#jpager',
                sortname: 'Name',
                sortorder: "desc",
                caption: "Stores list",
                loadError: function (jqXHR, textStatus, errorThrown) {
                    alert('HTTP status code: ' + jqXHR.status + '\n'
                        + 'textStatus: ' + textStatus + '\n'
                        + 'errorThrown: ' + errorThrown);
                    alert('HTTP message body (jqXHR.responseText): ' + '\n' + jqXHR.responseText);
                }
            })
        });
    </script>
}