@model CAS.Business.Models.StoreModel
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.LabelFor(model => model.Name)
            <p>@Html.EditorFor(model => model.Name)</p>
        </div>

        <div>
            @Html.LabelFor(model => model.Address)
            <p>@Html.EditorFor(model => model.Address)</p>
        </div>
        <p><input class="btn btn-primary" type="submit" value="Create" /></p>
    }
</div>